<!DOCTYPE html>
<html>
<head>
  <title>Instaset</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> Instaset </h1>
<br>
<%= yield %>


<br>
<% if signed_in? %>
<%= current_user.username %>
<%= button_to "Sign Out", session_url, method: :delete %>
<% end %>

<% if flash[:error] %>
<% flash[:error].each do |error| %>
<%=   error %>
<% end %>
<% end %>


</body>
</html>
